.class-button{
    color: red;
}


.bag-button{
background-color: lightgreen;
border: none;
padding:5px 15px;
border-radius: 5px;
}
.wishlist-button{
    padding: 5px 35px;
    border: 2px solid black;
    border-radius: 10px;
} 