#calculator{
    border: 1px solid rgb(12, 1, 1);
    border-radius: 5px;
    width: 200px;
    background-color: rgb(0, 0, 0);
}

#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height: 45px;
    margin: 3px;
    background-color: rgba(27, 27, 27, 0);
    color: white;
    border-color: aliceblue;
}